:root {
  --prefer-fonts: codicon, 'Sarasa Mono TC Nerd Font', 'Sarasa Mono TC', 'Source Han Sans TC', 'Noto San CJK TC',
    'Noto Color Emoji', -apple-system, BlinkMacSystemFont, sans-serif;
}

.linux,
.mac,
.windows {
  font-family: var(--prefer-fonts);
  --monaco-monospace-font: var(--prefer-fonts);
}

/* inline-style of sidebar */
.sidebar .view-lines,

/* right-click context menu */
.shadow-root-host,

/* search bar of user's setting panel */
.search-container .view-lines {
  font-family: var(--prefer-fonts) !important;
}

/* center command palette */
.quick-input-widget {
  top: 25% !important;
}

/* hide "show welcome page on startup" footer */
.footer > .showOnStartup {
  display: none !important;
}

/* hide indicator of custom css js extention */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
  display: none !important;
}
