:root {
  --prefer-fonts:
    codicon, 'Sarasa Mono TC Nerd Font', 'Sarasa Mono TC', 'Source Han Sans TC', 'Noto San CJK TC', 'Noto Color Emoji',
    -apple-system, BlinkMacSystemFont, sans-serif;
}

.linux,
.mac,
.windows,
/* NOTE: add body selector in order to increase specificity */
body .monaco-workbench.linux,
body .monaco-workbench.mac,
body .monaco-workbench.windows {
  font-family: var(--prefer-fonts);
  --monaco-monospace-font: var(--prefer-fonts);
  --cursor-font-family: var(--prefer-fonts);
}

/* inline-style of sidebar */
.sidebar .view-lines,

/* right-click context menu */
.shadow-root-host,

/* search bar of user's setting panel */
.search-container .view-lines,

/* cursor's agent panel */
.agent-layout-quick-menu__label,
.agent-layout-quick-menu__keybinding,

/* cursor's hover widget (change font family) */
.cursorHoverWidget,
.cursorHoverWidget .hoverButton .text,
.cursorHoverWidget .commandHelpText {
  font-family: var(--prefer-fonts) !important;
}

/* cursor's hover widget (improve text spacing) */
.cursorHoverWidget .hoverButton .commandHelpText {
  margin-left: 1ch;
}

/* hide "show welcome page on startup" footer */
.footer > .showOnStartup {
  display: none !important;
}

/* hide indicator of custom css js extention */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
  display: none !important;
}

/* hide linked editing background color */
.monaco-workbench {
  --vscode-editor-linkedEditingBackground: transparent !important;
}

/* center verified publisher icon on extensions sidebar */
.sidebar .codicon.codicon-extensions-verified-publisher {
  margin-top: 0.125rem;
  margin-right: 0.125rem;
}

/* hide the annoying GitHub Actions extension login prompt */
/* https://github.com/github/vscode-github-actions/issues/112 */
.monaco-workbench
  > .notifications-toasts.visible
  > .notification-toast-container:has([title='GitHub Actions (Extension)']) {
  position: absolute;
  top: 100vh;
}
