:root {
  --prefer-fonts: codicon, 'Sarasa Nerd Font', 'Sarasa NF', 'Sarasa Mono TC',
    'Noto San CJK TC', 'Noto Color Emoji', -apple-system, BlinkMacSystemFont,
    sans-serif;
}

.linux,
.mac,
.windows {
  font-family: var(--prefer-fonts);
}

/* inline-style of sidebar */
.sidebar .view-lines,

/* right-click context menu */
.shadow-root-host,

/* search bar of user's setting panel */
.search-container .view-lines,

/* inline-style of commit message's placeholder */
.scm-editor-placeholder {
  font-family: var(--prefer-fonts) !important;
}

/* hide indicator of custom css js extention */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
  display: none !important;
}
